<div class="container">

    <table class="table table-bordered">

        <thead class="thead-dark">

            <tr>

                <th scope="col">OrderId</th>

                <th scope="col">Price</th>

                <th scope="col">Payment Type</th>

                <th scope="col">Status</th>

            </tr>

        </thead>

        <tbody>

            <tr>

                <td>1234</td>

                <td>$21</td>

                <td>Credit Card</td>

                <td align="center">
                    <div class="container">

                        <button type="button" class="btn btn-primary">Recieved</button>&nbsp;&nbsp;

                        <button type="button" class="btn btn-primary">Delievered</button>&nbsp;&nbsp;

                        <button type="button" class="btn btn-primary">Not Delievered</button>
                    </div>

                </td>


            </tr>

        </tbody>

    </table>

</div>