{{deliveryboy.name}}
<div class="container" style="width:40%">
    <h4 class="text-center">Registration Form</h4>

    <form class="form-horizontal" (ngSubmit)="registrationDetailsOfDeliveryboy()" #deliveryboyForm="ngForm">
        <div class="form-group">
            <label class="form-label">Name</label>
            <div class="col-sm-12">
                <input type="text" class="form-control"  placeholder="Enter Name" [(ngModel)]="deliveryboy.name" name="name" required="required" />
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">Email</label>
            <div class="col-sm-12">
                <input type="email" class="form-control" id="email" placeholder="Enter email"
                    [(ngModel)]="deliveryboy.email" name="email" required="required" />
            </div>
        </div>


        <div class="form-group">
            <label class="form-label">Password</label>
            <div class="col-sm-12">
                <input type="password" class="form-control" id="password" placeholder="Enter Password"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                    title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                    [(ngModel)]="deliveryboy.password" name="password" required="required" />
            </div>
        </div>


        <div class="form-group">
            <label class="form-label">Contact</label>
            <div class="col-sm-12">
                <input type="number" class="form-control" id="number"
                    title="Enter Mobile number starting with a number between 6-9 and length should be 10"
                    placeholder="Enter Mobile Number" [(ngModel)]="deliveryboy.contact" name="Contact"
                    required="required" />
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">Address</label>
            <div class="col-sm-12">
                <input type="text" class="form-control" id="address" placeholder="Enter Address"
                    [(ngModel)]="deliveryboy.address" name="address" required="required" />
            </div>
        </div>

        <button type="submit" class="btn btn-block btn-primary">Register</button>
        <br>

        <div class="d-flex justify-content-center">
            <a routerLink="/login">Already have account?Login</a>
        </div>


    </form>
    
</div>
